<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title> 
    </head>

    <body>
        <header>
            <div class="page_heading">
                Text Analysis with MeaningCloud API
            </div>
        </header>
        <main>
            <h1>Welcome to MeaningCloud a Text Analytics site</h1>
            <p class="form_heading">Enter your text to Analyze it.</p>
            <section>
                <form class="" id="form">
                    <input id="name" type="text" name="input" value="" placeholder="Enter the text to Analyze">
                <input title="" type="submit" name="" value="Analyze Text">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <div>Created by Orchi Mukhopadhyay </div>
        </footer>

    </body>
</html>
