<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title> 
    </head>

    <body>
        <header>
            <div class="page_heading">
                Text Analysis with MeaningCloud API
            </div>
        </header>
        <main>
            <h1>Welcome to MeaningCloud a Text Analytics site</h1>
            <p class="form_heading">Enter your text to Analyze it.</p>
            <section>
                <form class="" id="form">
                    <input id="name" type="text" name="input" value="" placeholder="Enter the text to Analyze">
                <input title="" type="submit" name="" value="Analyze Text">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <div>Created by Orchi Mukhopadhyay </div>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                    .then(reg =>console.log("Service worker registered"))
                    .catch(err =>console.error(`Service Worker Error: ${err}`))
                    
                })
            } else {
                console.log("Service Worker is not supported by browser.")

            }
        </script>
    </body>
</html>
